html,
body {
   width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
   width: 100%;
  height: 100%;
  padding: 50px 50px;
}
.active-tab {
  background-color: gray;
}
.tab,
.active-tab {
  border: 1px solid gray;
  border-radius: 5px;
}
.tabs-container {
  display: flex;
  gap: 20px;
}
.tabs-content {
   padding: 20px 20px;
}